{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block style %}
<style>
    .form-bg-color {
        background-color: var(--bs-body-color);
        color: var(--bs-body-bg);
    }

    .form-bg {
        margin: auto;
        border: 1px solid;
        border-radius: 8px;
        padding: 50px;
    }

    .topic-title {
        text-align: center;
        padding: 80px;
        font-size: 150px;
    }
</style>
{% endblock %}
{% block content %}
<main class="min-vh-100">
    <h3 class="topic-title">Little Tools</h3>
    <div class="d-flex justify-content-center align-items-center">
        <div class="form-bg form-bg-color">
            <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <div>
                    <label class="form-label">{{ form.username.label }}</label>
                </div>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <div>
                    <label class="form-label">{{ form.password.label }}</label>
                </div>
                {{ form.password }}
            </div>
            <div>
                <button type="submit" class="form-control">登入</button>
            </div>
            <div style="padding-top: 10px;">
                <span>需要一個帳號嗎？請點</span><a href="{% url 'ranking:signup' %}">註冊</a>
            </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}